:root {
  --background-color: #e5e5e5;
  --primary-color: #f4f3ee;
  --white-color: #ffffff;
  --purple-color: #c32c72;
  --font-color: #463f3a;
  --nav-color: #8d8d8d;
  --logo-color: #262626;
}
