html,
body {
  height: 100%;
}

body {
  background: $body-background-color;
  font-family: $font-family-sans-serif;
  color: $font-color;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1140px;
  margin-bottom: 25em;
  padding: 0;
}

.card {
  background: $card-bg;
  width: 357px;
  height: 357px;
  box-shadow: $box-shadow;
}

.card--border {
  background: $white;
  border: $border-width solid $purple;
}

.card--bg {
  background: $purple;
  border: $border-width solid $white;
}

footer {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light;
  font-size: 12px;
  height: 92px;
  padding: 0 6em;
}

.sr-only {
  display: none;
}

@media (min-width: 600px) {
  .card {
    width: 260px;
    height: 260px;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    height: 44px;
  }
}
